
.main-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

}

.main-wrapper .paragrap-wrapper{
    width: 90%;
    position: absolute;
    bottom: 0px;
    /* left: 0; */
    z-index: 3;
}

.paragrap-wrapper p{
    color: white;
}

.main-wrapper img{
    height: 90%;
    width: 90%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}