.cont-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arr {
    flex: 0.1;
    font-size: 50px;
    cursor: pointer;
}

.cont-wrapper .left{
    text-align: end;
}

.main-wrapper {
    flex: 0.8;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.main-wrapper .paragrap-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    z-index: 2;
}

.text-warpper {
    width: 80%;
    position: relative;
    bottom: 50px;
    left: 50px;
}

.main-wrapper img {
    object-fit: cover;
    width: 80%;
    height: 80vh;
}

.tags {
    color: var(--c-base);
    font-size: 30px;
}

.paragrap-wrapper .title,
.paragrap-wrapper .autor {
    color: white;
    font-size: 30px;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */

.cir-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    /* background: #000; */
    z-index: 100;
}

.c-w-2{
    width: 10%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: s; */
}

.cir{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
}

.active-cir{
    background: var(--c-base);
}

/* .cont-wrapper {
    height: 100%;
    width: 100%;
}

.main-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.main-wrapper .paragrap-wrapper {
    width: 90%;
    position: absolute;
    bottom: 40px;
    padding-left: 40px;
    z-index: 3;
}


.main-wrapper img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}
*/

.news{
    flex: .3;
    width: 300px;
    margin-right: 40px;
}

.single-news{
    display: flex;
    margin-block: 10px;
}

.single-news img {
    --S-img: 100px;
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.single-news .news-text{
    color: #646464;
}
