.container{
    /* position: absolute; */
    /* left: -200px; */
    /* transform: translateX(-200px); */
    width: 100vw;
    height: 200px;
    /* background: red; */
    /* background: #f7f7f7;  */
    display: flex;
    align-items: center;
    padding-inline: 40px;
}

.container ul{
    height: 80%;
    width: 100%;
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.container ul::-webkit-scrollbar{
    width: 10px;
}

.container ul li{
    height: 100%;
    width: 100px;
    min-width: 300px;
    color:#f7f7f7;
}

.container ul li a{
    height: 100%;
    width: 100%;
    position: relative;
}

.container ul li a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container ul li a .text{
    position: absolute;
    z-index: 4;
    bottom: 0px;
}