<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluda | Admin Login</title>
    <link rel="stylesheet" href="../../../../../css/styles.css">
</head>
<body>
    <div class="form">
        <form method="post" action="/java/src/main/resources/templates/Admin.php" th:object="${loginRequest}">
            <h2>Login</h2>
            <div class="input-box">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <input type="password" name="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=*[A-Z].{8,})" required>
            </div>
            <div class="input-box">
                <input type="submit" name="sign-in" value="Login">
            </div>
            <a href="#">პაროლი დაგავიწყდათ?</a>
        </form>
    </div>
</body>
</html>